<html lang="en" ng-app>
<head>
	<title>Four Feelings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script>
	function FourFeelingsCtl($scope) {

	
	  $scope.feelings = {
	  	'glad'   : localStorage['glad']   || 0,
	  	'sad'    : localStorage['sad']    || 0,
	  	'mad'    : localStorage['mad']    || 0,
	  	'scared' : localStorage['scared'] || 0
	  }

	  $scope.clickFeeling = function(feeling, inc) {
	  	var val = parseInt($scope.feelings[feeling]);
	  	var newVal = (isNaN(val) ? 0 : val)+(inc); 
	  	if(newVal >=0) {
		    $scope.feelings[feeling] = newVal; 
		    localStorage[feeling] = newVal;
		}
	  }
	}
	</script>
	<style>
		body { margin:0;}
		.feeling { width: 50%; height: 50%; margin-bottom: 1px; float:left; text-align: center; background-color: #FFF;}
		.right { float: right; }
		.plus  { height: 100%; width: 80%; float:left; background-color: #CCEBD6;}
		.minus { height: 100%; width: 20%; float:right; background-color: #FFCCCC;}
		.cf:before,.cf:after { content: " "; display: table;}
		.cf:after { clear: both; }
	</style>
</head>

<body ng-controller="FourFeelingsCtl">

		<div class="feeling">
			<div class="plus" ng-click="clickFeeling('glad', 1)">
				<span>+</span> <br />
				<span>Glad: {{feelings.glad}}</span>
			</div>
			<div class="minus" ng-click="clickFeeling('glad', -1)">-</div>
		</div>
		<div class="feeling right">		
			<div class="plus" ng-click="clickFeeling('sad', 1)">
				<span>+</span> <br />
				<span>Sad: {{feelings.sad}}</span>
			</div>
			<div class="minus" ng-click="clickFeeling('sad', -1)">-</div>
		</div>
		<div class="feeling">
			<div class="plus" ng-click="clickFeeling('mad', 1)">
				<span>+</span> <br />
				<span>Mad: {{feelings.mad}}</span>
			</div>
			<div class="minus" ng-click="clickFeeling('mad', -1)">-</div>
		</div>
		<div class="feeling right">
			<div class="plus" ng-click="clickFeeling('scared', 1)">
				<span>+</span> <br />
				<span>Scared: {{feelings.scared}}</span>
			</div>
			<div class="minus" ng-click="clickFeeling('scared', -1)">-</div>
		</div>
</body>

</html>